@media all and (max-width: 992px) {
    #main-header .header-inner h1 a {
        font-size: 3rem;
    }

    #main-header .header-inner p,
    #informations .informations-inner p,
    #portfolio .portfolio-inner .portfolio-item .mask .border .content p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .orange-box-brake {
        display: block;
    }

    #portfolio .portfolio-inner .portfolio-item {
        height: 250px;
        width: 100%;
    }

    #portfolio .portfolio-inner .portfolio-item:nth-of-type(2) {
        margin: 30px 0;
    }

    #portfolio .portfolio-inner .portfolio-item .mask .border .content h3 {
        font-size: 30px;
        margin-top: 0;
    }

    #portfolio .portfolio-inner .portfolio-item .mask .border .content p {
        font-size: 1rem;
        line-height: 1.25rem;
    }

}

@media all and (max-width: 768px) {
    #main-header .header-inner {
        right: 30px;
    }

    #main-header .header-inner h1 a {
        font-size: 2.25rem;
    }

    #main-header .header-inner h2,
    #informations .informations-inner h2,
    #main-header .header-inner h3,
    #informations .informations-inner h3,
    #main-header .header-inner h3 span,
    #informations .informations-inner h3 span {
        font-size: 1.125rem;
    }


    #main-header .header-inner p,
    #informations .informations-inner p,
    #portfolio .portfolio-inner .portfolio-item .mask .border .content p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #informations .informations-inner {
        left: 30px;
    }

    #informations .informations-inner ul {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .orange-box h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #portfolio .portfolio-inner .portfolio-item {
        width: 100%;
    }

    #portfolio .portfolio-inner .portfolio-item:nth-of-type(2) {
        margin: 30px 0;
    }

    #informations .informations-inner .btn,
    #main-header .header-inner .btn {
        width: 120px;
    }

    #informations .informations-inner .btn h2,
    #main-header .header-inner .btn h2 {
        font-size: 1rem;
    }

}

@media all and (max-width: 576px) {

    #main-header,
    #informations {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #main-header .header-inner,
    #informations .informations-inner {
        width: 70%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    h1 {
        margin: 10px 0;
    }

    #portfolio .portfolio-inner .portfolio-header h2,
    #portfolio .portfolio-inner .portfolio-footer h3,
    #portfolio .portfolio-inner .portfolio-footer h3 span a {
        font-size: 1.5rem;
    }

    #informations .informations-inner h2 {
        margin-top: 10px;
    }

    #informations {
        position: relative;
        background-image: url(../img/02_wedding_center_small_phone.jpg);
    }

    #informations .informations-inner .btn,
    #main-header .header-inner .btn {
        width: 100px;
        padding: 10px;
    }

    #informations .informations-inner .btn h2,
    #main-header .header-inner .btn h2 {
        font-size: 0.875rem;
    }

    #footer {
        display: block;
    }

    #footer .foter-inner:nth-of-type(2) {
        margin: 15px 0;
    }
}
